@media (max-width: 768px) {
    header nav {
        height: 100%;
        padding: 0px 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    header nav .links {
        /* background-color: red; */
        padding-right: 20px;
        justify-content: center;
    }

    header nav img {
        width: 20%;
    }

    header nav .links li a{
        width: 80px;
        padding: 7px;
    }

    header nav .links li .expand{
        /* padding: 0; */
        background-color: red;
    }


    .box-post {
        background-color: #ffffff;
        width: 100%;
        margin: 0;
    }
}