* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body, html {
    background: url("/imagens/aprenderProgramar.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    scroll-behavior: smooth;
}

header {
    border-bottom: 1px solid lightgray;
    height: 100px;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 999;
    top: 0;
}

header nav {
    height: 100%;
    padding: 0px 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header nav img {
    width: 150px;
    /* height: 100%; */
}

header nav .links {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    transition: .5s all;
}

header nav .links li {
    list-style: none;
    margin: 0px 10px;
    text-align: center;
    transition: .5s all;
}

header nav .links li .expand {
    border-radius: 5px;
    background-color: green;
    border: 1px solid green;
    color: white;
    font-weight: bolder;
    width: 50px;
    padding: 10px 0px;
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
    transition: .5s all;
}

header nav .links li a {
    display: block;
    border-radius: 5px;
    background-color: green;
    border: 1px solid green;
    color: white;
    font-weight: bolder;
    width: 125px;
    padding: 10px 0px;
    text-align: center;
    font-size: 1.2rem;
    text-decoration: none;
    cursor: pointer;
    transition: .5s all;
}
header nav .links li a:hover {
    background-color: green;
    color: white;
}

header nav .links li .expand:hover {
    background-color: transparent;
    color: green;
    background-color: #ffffff;
}

header nav .links li .expand:hover .subLinks {
    background-color: transparent;
    color: green;
    background-color: #ffffff;
    display: block;
}


header nav .links li a:hover {
    background-color: transparent;
    color: green;
}


header nav .links .subLinks {
    position: absolute;
    display: none;
    height: 200px;
    overflow-y: scroll;
    margin-top: 12px;
    margin-left: -30px;
    border-radius: 10px;
    scrollbar-width: thin;
}

header nav .links .subLinks li > a {
    margin: 10px 0;
}



main {
    display: flex;
    flex-direction: column;
    min-height: 600px;
    align-items: center;
    background-color: #ffffff81;
    margin-top: 100px;
    padding: 20px;
}

main p {
    width: 600px;
    margin: auto;
    border: 2px solid white;
    margin-top: 5px;
    padding: 10px;
    min-height: 520px;
    display: block; 
    border-radius: 10px; 
    margin: 20px 0px; 
    background-color: #ffffff; 
}



footer {
    display: flex;
    height: 400px;
    background-color: #F9F9FB;
    align-items: center;
    padding: 20px;
}