* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center {
    display: flex;
    flex-direction: column;
    padding: 8px;
}

body {
    background-image: url("./src/imagens/aprenderProgramar.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}