<html>

    <!-- Head post -->
<div class="head-post">
    <span>Kreye yon pòs</span>
    <span class="material-symbols-outlined close-boxpost">
        close
    </span>
</div> <!--End Head post -->

<div class="body-post">

    <!--Data user-->
    <div class="data-user">
        <img src="/imagens/conta.png"
            alt="Icone of user"
            id="user-image">
        <div class="name-user">
            <span id="name-user">Wilhem Wundt Maxime</span>
            <time>21:02:31</time>
        </div>
    </div> <!--End data of user -->

    <div class="input-post">
        <span id="areaspan1">Kisa ou vle pataje, Wilhem Wundt? 😊</span>
    </div>
</div> <!-- Body post -->

<div class="btn-submit">
    <button type="submit">Pibliye</button>
</div> <!-- Btn submit -->

</html>
