<html>
    <nav>
        

       <ul class="links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">About</a></li>

                    <a href="#" class="notificacao">
                       

                        <span class="badge">1</span>
                    </a>
            </ul>

            <img class="setting" src="/../projet-site-devsht/imagens/avatar2.png" alt="setting account" title="My account">
    </nav>
</html>