<html>
    <nav>
        <img src="/projet-site-devsht/imagens/logo_devsht_sem_bg1.png" alt="Logo da plataforma DevsHT">

       <ul class="links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">About</a></li>

                    <a href="#" class="notificacao"><img  src="/imagens/notificacao.png" alt="Notification image">

                        <span class="badge">3</span>
                    </a>
            </ul>

            <img class="setting" src="../../../imagens/avatar2.png" alt="setting account" title="My account">
    </nav>
</html>