<html>
    <nav>
        <img class="logo" src="./src/imagens/logo_devsht_sem_bg1.png" alt="Logo da plataforma DevsHT">

       <ul class="links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">About</a></li>

                    
                <img class="logo" src="./src/imagens/logo_devsht_sem_bg1.png" alt="Logo da plataforma DevsHT">
                        <span class="badge">2</span>
                    </a>
            </ul>

            
    </nav>
</html>